* {
  margin: 0;
}
a {
  text-decoration: none;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dark {
  background-color: #000;
  color: saddlebrown;
}
.nav_bar {
  background-color: #eee;
}

.fa-moon {
  color: #000;
}

.fa-sun {
  color: #f39c12;
}
/* --------------------- */

#fragment1 {
  width: 25em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: frag1type 5s steps(20, end) 2s infinite;
  animation: frag1type 5s steps(20, end) 1s infinite;
}
@keyframes frag1type {
  from {
    width: 0;
  }
  37% {
    width: 25em;
  }
  49% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes frag1type {
  from {
    width: 0;
  }
  37% {
    width: 25em;
  }
  49% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
