body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
}
/* a :hover {
  color: aliceblue;
  border-bottom: 1px solid #fff;
} */
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dark {
  background-color: #000;
  color: saddlebrown;
}
.nav_bar {
  background-color: #eee;
}
